
@page
@model IndexModel
@{
    ViewData["Title"] = "CBS Technology";
}
<header>
    <img  src = "https://mir-s3-cdn-cf.behance.net/projects/404/f3b3f185720711.Y3JvcCwxMDgxLDg0NSwwLDY5.png" alt="Logo CBS_Technology">
</header>
<div class="text-center">
    
    <h5 align = left>
        Descripcion
    </h5>
    <p align = left>
       
        Instituto de Computación y Capacitación C.B.S. Technology S.A. ubicado en Estelí. Con más de 8 años brindando educación técnica al Norte del país<br />

        Fecha de fundación <br />
        08 de Marzo de 2008
    </p>
    <p align = justify>
        C.B.S Technology nace como proyecto con visión social y un gran espíritu de servir mejor a la comunidad esteliana el 08 de Marzo del 2008. Brindamos los servicios en Educación Técnica en el área de Informática, esto luego de escuchar por parte de nuestra población, la gran necesidad que tiene por recibir enseñanza de calidad a bajos costos. Decidimos mejorar los cursos y ofrecer nuevos servicios para cumplir con tal finalidad.

        Es importante recalcar que nuestro centro brinda una educación integral y personalizada para cada uno de nuestros alumnos.

        C.B.S cumple con la filosofía de ofrecer a los estudiantes la mayor facilidad posible en el ramo de la Educación Técnica en Informática trabajando desde un inicio con todas las herramientas para que nuestros alumnos apliquen todos los conocimientos adquiridos de forma que se conviertan en un personal de liderazgo.


    </p>
    <footer align = left>
        <h5 align = left>
            Informacion de contacto
        </h5>
            Del Hotel El Mesón 2 1/2 cuadra al Este.
            Estelí<br/>
            Telefono 2713 3490<br>              
        <a href="https://www.facebook.com/pg/CbsTechnologySa/about/?ref=page_internal" target="_blank">Facebook</a>
    </footer>
</div>
