@page
@model TrabajoFinal.Pages.Modulos.EditModel

@{
    ViewData["Title"] = "Edit";
}



<h4>Editar modulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Modulo.moduloID" />
            <div class="form-group">
                <label asp-for="Modulo.cursoID" class="control-label"></label>
                <select asp-for="Modulo.cursoID" class="form-control" asp-items="ViewBag.cursoID"></select>
                @*<input asp-for="Modulo.cursoID" class="form-control" />
        <span asp-validation-for="Modulo.cursoID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Modulo.Nombre" class="control-label"></label>
                <input asp-for="Modulo.Nombre" class="form-control" />
                <span asp-validation-for="Modulo.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modulo.Periodo" class="control-label"></label>
                <input asp-for="Modulo.Periodo" class="form-control" />
                <span asp-validation-for="Modulo.Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
