@page
@model TrabajoFinal.Pages.Cursos.CreateModel

@{
    ViewData["Title"] = "Create";
}



<h4>Crear nuevo curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Curso.docenteID" class="control-label"></label>
                @*<input asp-for="Curso.docenteID" class="form-control" />
        <span asp-validation-for="Curso.docenteID" class="text-danger"></span>*@
                <select asp-for="Curso.docenteID" class="form-control" asp-items="ViewBag.docenteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Curso.Nombre" class="control-label"></label>
                <input asp-for="Curso.Nombre" class="form-control" />
                <span asp-validation-for="Curso.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.Periodo" class="control-label"></label>
                <input asp-for="Curso.Periodo" class="form-control" />
                <span asp-validation-for="Curso.Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
